.leaders-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    /*margin-top: 2rem;*/
}

.leader-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 200px;
    margin: 3rem;
}

.leader-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.leader-info {
    text-align: center;
}

.leader-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.leader-role {
    font-size: 1rem;
    color: #888;
}

.leader-description {
    font-size: 0.9rem;
    color: #555;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 20px solid #333;
    margin: 1rem auto;
    position: relative;
}

.arrow-down:after {
    content: '';
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 30px;
    background-color: #333;
}

.connector-container {
    position: relative;
    height: 50px;
    margin-top: 1rem;
}

.vertical-line {
    position: absolute;
    top: 0;
    left: 50%;
    height: 25px;
    width: 2px;
    background: black;
    transform: translateX(-50%);
}

.horizontal-line {
    position: absolute;
    top: 25px;
    left: 10%;
    width: 80%;
    height: 2px;
    background: black;
}

.branch-lines {
    position: absolute;
    top: 25px;
    left: 10%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.branch-line {
    width: 2px;
    height: 25px;
    background: black;
}


